@media screen and (min-width: 320px) {

  .container {
    width: 320px;
    overflow-x: hidden;
  }

  .menu-contacts-tel {
    font-size: 24px;
}

  .banner{
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile.jpg);
  }
}


@media screen and (min-device-pixel-ratio: 3) and (max-width: 320px),
  screen and (min-resolution: 192dpi) and (max-width: 320px),
  screen and (min-resolution: 2dppx) and (max-width: 320px) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile@2x.jpg);
  }
}


@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }

    .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal-input{
    width: 100%;
  }

    .title-page{
    font-size: 36px;
    width: 318px;
  }

  .back-container {
    width: 431px;
    padding: 0 83px; 
  }

  .banner{
    padding-top: 108px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile.jpg);
  }


}


@media screen and (min-device-pixel-ratio: 3) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    overflow: hidden;
  }


  .header-container{
    display: flex;
    align-items: center;
  }

  .nav-menu{
    display: flex;
    gap: 40px;
  }

  .main-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.menu-button{
  display: none;
}

.menu-container{
  display: none;
}

  .contacts-info{
    display: block;
    padding-top: 24px;
    padding-bottom: 10px;
}

.contacts {
  font-size: 12px;
}

.contacts {
  color: var(--secondary-color);
  display: block;
  text-decoration: none;
  transition: color var(---timing-function);
}

.contacts:is(:hover, :focus) {
  color: var(--hover-color);
}

.contacts:active {
  color: var(--accent-color);
}

.link {
  color: var(--primary-text-color);
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  text-decoration: none;
  transition: color var(---timing-function);
}

.link:is(:hover, :focus) {
  color: var(--hover-color);
}

.link:active {
  color: var(--accent-color);
}


.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}

.mobile-menu-button{
  display: none;
}

.modal{
  min-height: 586px;
}

.banner{
  padding-top: 112px;
  padding-bottom: 108px;
  background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tablet.jpg);
  height: 439px;
}

.link{
  padding-bottom: 22px;
  position: relative;
}

.sprite-item{
  display: none;
}

.section.works{
  display: none;
}

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}


.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
}

.features-title{
  text-align: left;
}

.features-description{
  max-width: 356px;
}

.section.back {
    padding-top: 96px;
    padding-bottom: 104px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
}

.form-input {
  width: 264px;
}

.customers-container {
    width: 582px;
}

.customer-sprites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}


.content {
    width: 552px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px
}

.footer-wrap{
  margin: 0;
}

.form-field {
    display: flex;
    gap: 24px;
}

.section.portfolio{
  padding-top: 64px;
  padding-bottom: 96px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  gap: 24px;
}

.portfolio-container{
  width: 774px;
}

}


@media screen and (min-device-pixel-ratio: 3) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tablet@2x.jpg);
  }
}


@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
 
  .main-nav{
    margin: 0;
    margin-left: 76px;
  }

  .contacts{
  font-size: 16px;
  line-height: 1.5;
  }


.contacts-info{
    padding-top: 24px;
    padding-bottom: 28px;
    display: flex;
    margin-left: auto;
  }


  .contacts-info .contacts-item + .contacts-item {
  margin-left: 40px;
}

.underline::after{
  bottom: -4px;
} 


.banner {
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ), url(../images/bg-desktop.jpg);
  max-width: 1440px;
  height: 600px;
}

.title-page{
  font-size: 56px;
  line-height: 1.07;
  width: 494px;
}

  .sprite-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--footer-logo);
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 8px;
}

.section.works{
  display: block;
}

.features {
  padding-top: 120px;
  padding-bottom: 0;
}

.features-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.features-title{
font-weight: 500;
font-size: 20px;
color: #2E2F42;
line-height: calc(24/20);
}

.features-description{
  font-weight: 400;
  letter-spacing: 0.02em;
}

.works-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.section.back {
    padding-top: 120px;
    padding-bottom: 120px;
}

.back-container{
  padding: 0;
}

.title-works {
  margin-top: 0;
  margin-bottom: 72px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}


.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 24px;
}

.customer-sprites {
  display: flex;
  justify-content: space-between;
  gap:24px;
}

.customer-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-sprites-item {
  width: calc((100% - 150px) / 6);
  height: 88px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.form-field {
  display: flex;
  gap: 24px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap:0;
}

.footer-content {
  margin-right: 120px;
}

.footer-wrap {
margin-left: 80px;
}

.section.portfolio{
padding-top: 96px;
padding-bottom: 120px;
}

}

@media screen and (min-device-pixel-ratio: 3) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .banner {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-desktop@2x.jpg);
  }
}